/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* helper color 
#aside {
	background-color: darkgreen;
}

#header {
	background-color: rgba(255,120,0,0.5);
}

#main {
	background-color: darksalmon;
}

#footer {
	background-color: darkseagreen;
}


/* ==== BASE STYLES ==== */
* {
	box-sizing: border-box;
}

body {
  font-family: 'Gentium Book Basic', serif, Arial, sans-serif;
  color: #333;
	background: url(assets/IMG_20200907-036.JPG) no-repeat center center fixed;
	backdrop-filter: grayscale(80%);
  background-size: cover;
	height: 100vh;
	width: 100vw;
}

body, #aside, #main, #footer {
	justify-content: center;
	align-items: center;
	display: flex;
}

.container {
	width: 50vw;
  height: 50vh;
  margin: 0 auto;
  background-color: rgba(196, 189, 189, 0.5);
	border-radius: 0.3125rem;
  box-shadow: hsla(0, 0%, 0%, .8) 0.625rem 0.625rem 5rem;
	position: relative;
}

.box {
	position: absolute;
}

#aside {
	height: 100%;
	width: 50%;
	float: right;
	left: 0;
	margin: 0 auto;
}

.picture {
	max-width: calc(25vw - 3%);
	border-radius: 0.3125rem;
}

#header {
	height: 30%;
	width: 50%;
	right: 0;
}

.name {
	padding-top: 0.75rem;
}

.name, .hash, .place, .about {
	margin: 0.75rem;
}

.hash {
	font-style: italic;
	display: inline;
}

.hash:hover {
	text-decoration: underline;
	color: rgb(216, 201, 116);
}

#main {
	height: 60%;
	width: 50%;
	right: 0;
	top: 30%;
}

#footer {
	height: 10%;
	width: 50%;
	right: 0;
	top: 90%;
}

h1, h2, h3 {
  font-family: 'Alfa Slab One', cursive, 'Times New Roman', serif;
}

h1 {
	font-size: 1.5rem;
}

h2, .main, .hash {
	font-size: 1rem;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
	letter-spacing: 0.75rem;
}

a:link, a:visited {
  color: rgb(44, 66, 138);
  display: inline-block;
}

a:hover, a:active {
	filter: invert(100%);
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd, 
p,figure, 
pre,table,fieldset,hr,
.container,#main {
    margin-bottom: 1rem;
}

@media (max-width: 420px) {

	.container {
		height: 90vh;
		width: 90vw;
	}

	#aside {
		height: 30%;
	}

	.picture {
		max-width: calc(50vw - 2%);
	}

	#header {
		top: 30%;
		height: 30%;
	}

	#main {
		height: 30%;
		top: 60%
	}

	#footer {
		height: 10%;
	}

	#aside, #header, #main, #footer {
		margin-bottom: 1.096%;
	}

	#aside, #header, #main, #footer {
		float: none;
		width: 100%;
	}

}